* {
    box-sizing: border-box;
}

body {
    background: #D5E1EF;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.qr-container {
    background: #fff;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    border-radius: 15px;
}

.img-container {
    height: 50%;
    width: 80%;
    display: block;
    border-radius: 20px;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.text-container {
    display: flex;
    flex-direction: column;
}